/.vs
/Login_API/bin
/Login_API/obj
Login_API/bin/Debug/net9.0/Login_API.dll

Login_API/bin/Debug/net9.0/Login_API.exe
Login_API/bin/Debug/net9.0/Login_API.pdb
Login_API/obj/Debug/net9.0/apphost.exe
Login_API/obj/Debug/net9.0/Login_API.AssemblyInfo.cs
Login_API/obj/Debug/net9.0/Login_API.AssemblyInfoInputs.cache
Login_API/obj/Debug/net9.0/Login_API.dll
Login_API/obj/Debug/net9.0/Login_API.pdb
Login_API/obj/Debug/net9.0/ref/Login_API.dll
Login_API/obj/Debug/net9.0/refint/Login_API.dll
Login_API/bin/Debug/net9.0/Login_API.dll
Login_API/bin/Debug/net9.0/Login_API.exe
Login_API/bin/Debug/net9.0/Login_API.pdb
Login_API/obj/Debug/net9.0/apphost.exe
Login_API/obj/Debug/net9.0/Login_API.AssemblyInfo.cs
Login_API/obj/Debug/net9.0/Login_API.AssemblyInfoInputs.cache
Login_API/obj/Debug/net9.0/Login_API.dll
Login_API/obj/Debug/net9.0/Login_API.pdb
Login_API/obj/Debug/net9.0/ref/Login_API.dll
Login_API/obj/Debug/net9.0/refint/Login_API.dll
